<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZwiftHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ZwiftHandler.Properties.Settings>
            <setting name="ZwiftOfflineServerIp" serializeAs="String">
                <value>192.168.1.40</value>
            </setting>
            <setting name="PatchSharedPath" serializeAs="String">
                <value>z:\Zwift\ZG-Win\</value>
            </setting>
            <setting name="ZofflineBatch" serializeAs="String">
                <value>C:\Users\Youra\Downloads\ZWiftOffline\start.bat</value>
            </setting>
            <setting name="ZwiftWindow" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </ZwiftHandler.Properties.Settings>
    </userSettings>
</configuration>